:root{
    --primary: #722040;
    --secondary: #af2d46;
    --tertiary: #8366B3;
    
    --bodytext: #000000;
    --colourtext: #ffffff;
    
    --bodybg: #EBE3E1;
    --darkbg: #000000;

    --dropshadow: var(--secondary);
    --branding: teal;
    --print: var(--secondary);
    --web: var(--tertiary);
    --design: #EE92C2;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: auto;

    line-height: 1.5;
}

::selection{
    background-color: var(--primary);
    color: var(--colourtext);
}

h1::selection, h2::selection, h3::selection{
    background-color: var(--bodytext);
    color: var(--colourtext);
    -webkit-text-fill-color: initial;
}

.feeds *::selection{
    background-color: var(--bodytext);
    color: var(--colourtext);
}

*{
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--bodytext);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, var(--primary), var(--secondary));    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid;  /* creates padding around scroll thumb */
}


.highlight,
.highlight *{
    color: var(--colourtext);
    background: linear-gradient(80deg, var(--primary), var(--secondary));
    padding: 2px 0.5ch 4px 0.5ch;
    border-radius: 0.5em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.skip-link{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 99;

}

.skip-link:not(:focus){
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.newTab::after{
    content:"↗"
}

.border-5,
blockquote,
.info{
    border: 5px solid var(--primary);
    border-radius: 5px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.info{
    box-shadow: var(--secondary) 0.5rem 0.5rem 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.info h2{
    margin-top: 0;
}

body{
    background-color: var(--bodybg);
    margin: 0;
}

a img{
    transition: filter 0.5s;
}

a img:hover{
    filter: brightness(0.7);
}



main{
    padding: 0;
}

.page__wrapper,
.home-wrapper{
    padding: 0 20px 2rem 20px;
}

article p{
    max-width: 65ch;
}

article img{
    width: 100%;
    min-width: 250px;
    height: auto;
}

.button{
    background: linear-gradient(to right, var(--primary), var(--secondary));
    padding: 0.5em;
    border-radius: 0.25em;

    display: grid;
    align-content: center;
    justify-content: center;

    color: var(--colourtext);
    text-decoration: none;
}

figure{
    margin: 0;
}

figcaption{
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
}

figcaption a{
    font-size: 0.8rem;
}

.feeds__wrapper{
    max-width: 65ch;
    margin: 0 auto;
}

.feeds__wrapper h3 {
    font-size: 1.25rem;
}

.feeds_wrapper img {
    aspect-ratio: 16 / 9;
}

.home-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    width: 100%;
}

.home-blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    width: 100%;
}

.feeds img{
    max-width: 100%;
}

.blogFeedItem img,
.portfolioFeedItem img{
    background-color: #fff;
}

.now{
    display: grid;
    justify-content: center;
}

.now ul{
    list-style: none;
    padding: 0;
}

.bullet{
    margin-right: 1em;
}

.blog__feed{
    max-width: 65ch;
    margin: 0 auto;
}

.blog__feed > h2{
    margin-bottom: 0.5em;
}
.blog__feed > p{
    margin-bottom: 1.5rem;
}

.portfolioFeedItem{
    box-shadow: var(--dropshadow) 0.5rem 0.5rem 1px;
}

.blogFeedItem{
    box-shadow: var(--tertiary) 0.5rem 0.5rem 1px;
}

.feeds__wrapper .portfolioFeedItem,
.feeds__wrapper .blogFeedItem{
    box-shadow: none;
}

.portfolioFeedItem img{
    max-height: 400px;
    object-fit: cover;
}

.portfolioFeedItem a,
.blogFeedItem a{
    display: block;
}

.blog__feed figcaption a{
    font-size: 1em;
}

.blog__feed figcaption p{
    text-align: left;
}

.blogFeedItem{
    margin-bottom: 5rem;
}

.blogFeedItem img{
    max-height: 400px;
    object-fit: cover;
}

.feeds > div > div > figure{
    margin-bottom: 0;
}

.video{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video iframe{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.post{
    max-width: 65ch;
    margin: 0 auto;
}

    .portfolio__feed > h2{
    margin-bottom: 0.5em;
}
    .portfolio__feed > p{
        margin-bottom: 1em;
    }

    .portfolio__feed figcaption a{
        font-size: 1em;
    }

    .portfolio__feed figcaption p{
        text-align: left;
    }

.grid-2 figure{
    margin-bottom: 2rem;
}

[data-portfolio-category="web"]{
    --dropshadow: var(--secondary);
}

[data-portfolio-category="print"]{
    --dropshadow: var(--tertiary);
}

[data-portfolio-category="branding"]{
    --dropshadow: var(--branding);
}

[data-portfolio-category="design"]{
    --dropshadow: var(--design);
}

@media (max-width: 850px) {
    *{
        font-size: 18px;
    }
}


@media (min-width: 800px) {
    .nav ul{
        justify-content: center;
    }

    .portfolio__feed{
        max-width: 75vw;
    }

    .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

    .grid-2 > *:last-of-type{
        grid-column: span 2;
    }

    .grid-2 > *:not(*:nth-of-type(odd)){
        grid-column: span 1;
    }
}


@media (min-width: 850px) {
    .site-head__hero a{
    width: 50vw;
    }

    .site-head__hero svg{
        width: 50vw;
    }

    article{
        max-width: 75vw;
        margin: 0 auto;
    }

    article h2, article p{
        max-width: 65ch;
    }

    .avatar{
        display: block;
        max-width: 250px;
        border-radius: 50%;
    }

    .avatar img{
        width: 100%;
        margin: 0 auto;
    }

    .feeds img{
        width: 100%;
        height: 300px;
        object-fit: cover;

        margin: 0.5em 0 0 0;
    }
    

}

footer{
    width: 100%;
    background-color: var(--darkbg);
    color: var(--colourtext);
    margin: 0;
    padding: 1em;
}

.email__button{
    background: linear-gradient(to right, var(--primary), var(--secondary));
    padding: 0.5em;
    border-radius: 1em;
    display: block;
    max-width: 20ch;
}

.email__button p{
    display: block;
    margin: 0 auto;
}

.email__button a{
    color: #fff;
    background: none;
    -webkit-text-fill-color: initial;
    text-align: center;
}

.email__button a:hover{
    text-decoration-color: var(--colourtext);
}

.email__button:active{
    transform: scale(0.95);
}
