.section-wrapper {
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 20px 2rem 20px;

    &__large {
        max-width: 75vw;
        margin: 0 auto;
    }
}

main {
    margin-bottom: 2rem;

    img {
        border-radius: 0.25rem;
    }
}