{% extends "layouts/base.html" %} 

{% block content %}
<article class="section-wrapper">
  <picture class="avatar">
    <source srcset="/images/avatar-750.webp">
      <img src="/images/avatar-750.png" alt="Avatar of me">
  </picture>

  <h1 class="headline display">
    {{ headline }} 
    {% if headlineEmoji %}
      <span class="emoji">{{ headlineEmoji }}</span>
    {% endif %}
  </h1>
  <p class="subheading">{{ subheading }}</p>

  {{ content | safe }}
</article>

{% include 'components/home-feeds.html' %}

{% endblock %}
