.portfolio-feed {
    --grid-size: 250px;
}

.blog-feed {
    --grid-size: 175px;
}

.portfolio-feed,
.blog-feed {

    h2 {
        margin-bottom: 2rem;
    }

    .feed-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
        column-gap: 1rem;
        row-gap: 1rem;
        margin-bottom: 2rem;

        .feed-item {
            img {
                aspect-ratio: 16 / 9;
                object-fit: cover;
                background: white;
            }

            & > a {
                width: 100%;
            }

            p, time, h3 {
                text-align: start;
                font-size: 0.8rem;
            }

            p, time {
                font-weight: 200;
            }
        }
    }
}