:root{
    --primary: #722040;
    --secondary: #af2d46;
    --tertiary: #8366B3;
    
    --bodytext: #000000;
    --colourtext: #ffffff;
    
    --bodybg: #EBE3E1;
    --darkbg: #000000;

    --dropshadow: var(--secondary);
    --branding: teal;
    --print: var(--secondary);
    --web: var(--tertiary);
    --design: #EE92C2;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: auto;

    line-height: 1.5;
}

::selection{
    background-color: var(--primary);
    color: var(--colourtext);
}

h2::selection, h3::selection{
    background-color: var(--bodytext);
    color: var(--colourtext);
    -webkit-text-fill-color: initial;
}

.feeds *::selection{
    background-color: var(--bodytext);
    color: var(--colourtext);
}

*{
    font-size: 24px;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--bodytext);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, var(--primary), var(--secondary));    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid;  /* creates padding around scroll thumb */
}

h2{
    font-weight: 700;
    font-size: 1.55rem;
}

h2,
h3{
    color: var(--primary);
    background: linear-gradient(80deg, var(--primary) 0%, var(--secondary) 50%, var(--tertiary) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    margin-bottom: 0em;
}

h3{
    font-size: 1.25em;
}

p{
    font-weight: 400;
}

em{
    color: var(--tertiary);
}

strong{
    color: var(--secondary);
}

.highlight,
.highlight *{
    color: var(--colourtext);
    background: linear-gradient(80deg, var(--primary), var(--secondary));
    padding: 2px 0.5ch 4px 0.5ch;
    border-radius: 0.5em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

main a{
    color: var(--primary);
    background: linear-gradient(var(--primary), var(--secondary));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    text-decoration: none;

    display: inline-block;
}

main a:hover{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--primary);
}

.emoji{
    font-size: inherit;
    -webkit-text-fill-color: initial;
}

.skip-link{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 99;

}

.skip-link:not(:focus){
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.newTab::after{
    content:"↗"
}

.border-5,
blockquote,
.info{
    border: 5px solid var(--primary);
    border-radius: 5px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.info{
    box-shadow: var(--secondary) 0.5rem 0.5rem 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.info h2{
    margin-top: 0;
}

body{
    background-color: var(--bodybg);
    margin: 0;
}

a img{
    transition: filter 0.5s;
}

a img:hover{
    filter: brightness(0.7);
}

.site-head{
    background-image: url('/images/headerbg.jpg');
    background-size: cover;
    background-position: bottom;
    -webkit-clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
}

.site-head__hero{
    height: 33vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.site-head__hero a{
    width: 75vw;
}

.site-head__hero svg{
    width: 75vw;
}

.nav{
    background-color: var(--darkbg);
}

/* Reel */

.nav ul {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #FFFFFF #EA5438;

  width: 95vw;
  margin: 0 auto;
}

.nav ul::-webkit-scrollbar {
  height: 1rem;
}

.nav ul::-webkit-scrollbar-track {
  background-color: #EA5438;
}

.nav ul::-webkit-scrollbar-thumb {
  background-color: #EA5438;
  background-image: linear-gradient(#EA5438 0, #EA5438 0.25rem, #FFFFFF 0.25rem, #FFFFFF 0.75rem, #EA5438 0.75rem);
}

.nav ul > * {
  flex: 0 0 auto;
}

.nav ul > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.nav ul > * + * {
  margin-left: 0.5em;
}

.nav ul.overflowing {
  padding-bottom: 0.5em;
}

.nav__list{
    margin: 0;
    padding: 10px;
}

.nav li{
    list-style: none;
    margin: 0 0.2em;

    text-decoration: none;
    padding: 0.25em;
}

.nav li a{
    color: var(--colourtext);
    text-decoration: none;
    padding: 0.25em;
}

.nav li a:visited{
    color: var(--colourtext);
}

.nav li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--secondary);
}

.nav li a[aria-current="page"],
.nav li a[data-state="active"]{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--primary);
}

.nav li a:focus{
    border-color: #ffffff;
}

main{
    padding: 0;
}

.home-wrapper{
    max-width: 65ch;
    margin: 0 auto;
}

.headline{
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.subheading{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

.page__wrapper,
.home-wrapper{
    padding: 0 20px 2rem 20px;
}

article p{
    max-width: 65ch;
}

article img{
    width: 100%;
    min-width: 250px;
    height: auto;
}

.feeds h2{
    -webkit-text-fill-color: initial;
}

.feeds h2 a{
    color: var(--colourtext);
    font-size: 1.5rem;
}

.button{
    background: linear-gradient(to right, var(--primary), var(--secondary));
    padding: 0.5em;
    border-radius: 0.25em;

    display: grid;
    align-content: center;
    justify-content: center;

    color: var(--colourtext);
    text-decoration: none;
}

figure{
    margin: 0;
}

figcaption{
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
}

figcaption a{
    font-size: 0.8rem;
}

.feeds{
    background: linear-gradient(80deg, var(--primary) 0%, var(--secondary) 50%, var(--tertiary) 100%);
    margin-top: 2.5em;
    /* margin-top: var(--waveHeight); */
    padding: 2.5em 0;
}

.feeds__wrapper{
    max-width: 90vw;
    margin: 0 auto;
}

.feeds h2,
.feeds h3,
.feeds a{
    color: var(--colourtext);
    -webkit-text-fill-color: initial;

    margin: 0.5em 0;
}

.feeds a:hover{
    text-decoration-color: var(--colourtext);
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

.feeds img{
    max-width: 100%;
}

.feeds > div > div{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 2em;
}

.blogFeedItem img,
.portfolioFeedItem img{
    background-color: #fff;
}

/* .wave::before{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--waveHeight);
    margin-top: var(--waveHeightInverse);
    background-image: url('/images/wave.svg');
    background-size: cover;
    mix-blend-mode: overlay;
} */

.now{
    display: grid;
    justify-content: center;
}

.now ul{
    list-style: none;
    padding: 0;
}

.bullet{
    margin-right: 1em;
}

.blog__feed{
    max-width: 65ch;
    margin: 0 auto;
}

.blog__feed > h2{
    margin-bottom: 0.5em;
}
.blog__feed > p{
    margin-bottom: 1.5rem;
}

.portfolioFeedItem{
    box-shadow: var(--dropshadow) 0.5rem 0.5rem 1px;
}

.blogFeedItem{
    box-shadow: var(--tertiary) 0.5rem 0.5rem 1px;
}

.feeds__wrapper .portfolioFeedItem,
.feeds__wrapper .blogFeedItem{
    box-shadow: none;
}

.portfolioFeedItem img{
    max-height: 400px;
    object-fit: cover;
}

.portfolioFeedItem a,
.blogFeedItem a{
    display: block;
}

.blog__feed figcaption a{
    font-size: 1em;
}

.blog__feed figcaption p{
    text-align: left;
}

.blogFeedItem{
    margin-bottom: 5rem;
}

.blogFeedItem img{
    max-height: 400px;
    object-fit: cover;
}

.feeds > div > div > figure{
    margin-bottom: 0;
}

.video{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video iframe{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.post{
    max-width: 65ch;
    margin: 0 auto;
}

    .portfolio__feed > h2{
    margin-bottom: 0.5em;
}
    .portfolio__feed > p{
        margin-bottom: 1em;
    }

    .portfolio__feed figcaption a{
        font-size: 1em;
    }

    .portfolio__feed figcaption p{
        text-align: left;
    }

.grid-2 figure{
    margin-bottom: 2rem;
}

.scrapbook{
    max-width: 100%;
    text-align: center;
}

.scrapbook h2{
    max-width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-bottom: 0;
}

.scrapbook p{
    text-align: center;
    max-width: 65ch;
    margin: 0 auto 2rem auto;
}

.scrapbook-wrapper{
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.scrapbook-wrapper picture,
.scrapbook-wrapper img{
    max-width: 400px;
    height: auto;
}

[data-portfolio-category="web"]{
    --dropshadow: var(--secondary);
}

[data-portfolio-category="print"]{
    --dropshadow: var(--tertiary);
}

[data-portfolio-category="branding"]{
    --dropshadow: var(--branding);
}

[data-portfolio-category="design"]{
    --dropshadow: var(--design);
}

@media (max-width: 850px) {
    *{
        font-size: 18px;
    }
}


@media (min-width: 800px) {
    .nav ul{
        justify-content: center;
    }

    .portfolio__feed{
        max-width: 75vw;
    }

    .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

    .grid-2 > *:last-of-type{
        grid-column: span 2;
    }

    .grid-2 > *:not(*:nth-of-type(odd)){
        grid-column: span 1;
    }
}


@media (min-width: 850px) {
    .site-head__hero a{
    width: 50vw;
    }

    .site-head__hero svg{
        width: 50vw;
    }

    article{
        max-width: 75vw;
        margin: 0 auto;
    }

    article h2, article p{
        max-width: 65ch;
    }

    .home__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5em;
    }

    .intro__text h2,
    .intro__text p{
        grid-column: auto;
    }

    .avatar{
        margin: 0 auto;
        display: block;
        max-width: 400px;
        border-radius: 50%;
    }

    .avatar img{
        width: 100%;
        margin: 0 auto;
    }

    .communityImage{
        grid-column: 2;
        align-self: center;
    }

    .communityImage img{
        height: 700px;
        object-fit: cover;
    }

    .feeds__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;

        justify-content: center;

        max-width: 75vw;
    }

    .feeds img{
        width: 100%;
        height: 300px;
        object-fit: cover;

        margin: 0.5em 0 0 0;
    }

    .feeds h3{
        font-weight: 700;
        font-size: 1.75em;
        margin: 0;
    }

    .feeds p{
        margin: 0.25em 0;
    }

    .feeds figcaption{
        text-align: left;
        color: var(--colourtext);
    }

    .feeds figcaption a{
        font-size: 1em;
        text-decoration: underline;
    }

    .feeds figcaption a:hover{
        text-decoration-color: var(--bodytext);
    }
    

}

footer{
    width: 100%;
    background-color: var(--darkbg);
    color: var(--colourtext);
    margin: 0;
    padding: 1em;
}

.email__button{
    background: linear-gradient(to right, var(--primary), var(--secondary));
    padding: 0.5em;
    border-radius: 1em;
    display: block;
    max-width: 20ch;
}

.email__button p{
    display: block;
    margin: 0 auto;
}

.email__button a{
    color: #fff;
    background: none;
    -webkit-text-fill-color: initial;
    text-align: center;
}

.email__button a:hover{
    text-decoration-color: var(--colourtext);
}

.email__button:active{
    transform: scale(0.95);
}
