    <div class="blogFeed">
        <h2>Read my notes and musings <span class="[ emoji ]" aria-hidden="true">✏️</span></h2>
        {% for post in collections.blog %}
            {% if loop.index0 < 1 %}
                <figure class="blogFeedItem">
                    <a href="{{ post.url }}"><img src="{{ post.data.featuredImage }}" class="feedThumbnail" alt=""/></a>

                    <figcaption>
                        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                        <!--<p>{{ post.data.excerpt }}</p>-->
                    </figcaption>
                </figure>
            {% endif %}
        {% endfor %}
    </div>
        

    <div class="portfolioFeed">
        <h2>See what I can do <span class="[ emoji ]" aria-hidden="true">🎨</span></h2>
        {% for post in collections.portfolio %}
            {% if loop.index0 < 1 %}
                <figure class="portfolioFeedItem">
                    <a href="{{ post.url }}"><img src="{{ post.data.featuredImage }}" class="feedThumbnail" alt=""/></a>

                    <figcaption>
                        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                    </figcaption>
                    
                </figure>
            {% endif %}
        {% endfor %}
    </div>
